/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
 html, body {
     font-family: Roboto, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
     max-height: 100vh;
     height: 100vh;
     width: 100vw;
     max-width: 100vw;
     overflow: hidden;
 }
canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
}

small {
    font-size: 0.85em;
}


@keyframes container-fade {
    0% { top: 100%; opacity: 0; }
    100% { top: 50%; opacity: 1; }
}

@keyframes loading-container-fade {
    0% { top: 50%; opacity: 1; }
    100% { top: 0%; opacity: 0; }
}

.logo {
    width: 700px;
    max-width: calc(100% - 60px);
    height: 100px;
    position: absolute;
    top: 20px;
    left: 30px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
    @media (max-width: 768px) {
        top: 3px;
        height: 70px;
    }
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    transition: all .8s;
    transition-timing-function: ease-in-out;
    &.animate {
        top: 0%;
        opacity: 0;
    }
}

.container {
    width: 800px;
    z-index: -1;
    max-width: 92%;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.23);
    left: 50%;
    top: 150%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;
    transition: all .8s;
    transition-timing-function: ease-in-out;
    &.active {
        top: 50%;
        opacity: 1;
        z-index: 1;
    }

    &.inactive {
        top: -20%;
        opacity: 0;
        z-index: 0;
    }

    .container-footer {
        margin-top: 30px;
        height: 42px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }

        .footer-info {
            display: inline-block;
            float: left;
            height: 42px;
            line-height: 42px;
            text-transform: uppercase;
            color: #555;
            font-weight: 300;
        }
    }
}

h2 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.choice-list {
    text-align: center;
    li {
        text-align: left;
        display: inline-block;
        padding: 10px 14px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 10px 10px;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        background-color: #F9633B;
        &:hover {
            background-color: #e15935;
        }

        &.active {
            background-color: #39cc39;
        }
        small {
            font-size: 0.6rem;
            font-weight: 400;
            position: relative;
            top: -5px;
        }
        @media (max-width: 768px) {
            font-size: 1rem;
            padding: 6px 10px;
            margin: 5px 5px;
        }
    }
}

button {
    background-color: #396acc;
    color: #fff;
    font-weight: 300;
    float: right;
    padding: 0px 24px;
    height: 42px;
    line-height: 42px;
    margin: 0px 6px;
    border: 0px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: #2f54a7;
    }

    @media (max-width: 768px) {
        height: 34px;
        line-height: 34px;
        padding: 0px 12px;
        font-size: 1rem;
    }
}


.detail-list {
    margin-top: 25px;
    &>div {
        &.active {
            color: #2fa12f;
            background-color: #e2ffdb;
            &:before {
                color: #278127;
            }
        }
        position: relative;
        padding: 20px 0px 10px 50px;
        margin: 12px 0px;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color .2s;
        transition-timing-function: ease-in-out;
        &:hover {
            background-color: rgba(80,80,80,0.1);
        }
        &:before {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translate(0%, -50%);
            content: '\f0e5';
            font-family: FontAwesome;
            font-size: 2rem;
            color: #777;
        }
    }
}

.content {
    min-height: 200px;
    max-height: 50vh;
    overflow: auto;
}

.score-list {
    overflow: auto;
	.score-row {
        height: 42px;
        padding: 3px 0px;
        white-space: nowrap;
		.cell {
            position: relative;
            display: inline-block;
            vertical-align: top;
			height: 100%;
            width: 42px;
            background-color: #f1f1f1;
            margin: 0px 2px;
            font-size: 1.2em;
            line-height: 42px;
            font-weight: bold;
            text-align: center;

            &.total {
                width: 84px;
            }

            &.party {
                background-size: cover;
                background-position: center center;
            }

            &.neutral {
                &::after {
                    content: '-';
                    color: #777;
                }
            }

            &.yes {
                background-color: #d8e9cf;
                &::after {
                    content: '\2713';
                    color: #2fa12f;
                }
            }

            &.no {
                background-color: #e9d6d2;
                &::after {
                    content: '\2718';
                    color: #F9633B;
                }
            }

            &.ambiguous {
                background-color: #f4ece3;
                color: #f4e668;
                &::after {
                    content: '~';
                }
            }
        }
	}
}

.cell-score {
    height: 14px;
    line-height: 14px;
    background-color: #eaeaea;
    color: #aaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    left: 0;
}

@media (max-width:640px) {
    h2 {
        font-size: 1.3rem;
    }
    ul.choice-list.multiple {
        li {
            letter-spacing: 0px;
            font-size: 0.9rem;
            padding: 4px 8px;
            margin: 3px;
        }
    }
    .footer-info {
        height: 30px;
        line-height: 30px;
        display: block;
        float: none;
        width: 100%;
        font-size: 0.9rem;
    }
}